.form-control:focus {
  border-color: rgba(106, 24, 232, 0.2);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #9900b4;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #9900b4;
}

button {
  margin-bottom: 20px;
  background: linear-gradient(37deg, #360058, #a27dd1);
}

.page-title {
  color: rgba(255, 255, 255, 0.9);
  border-bottom: 1.5px groove rgba(255, 255, 255, 0.6);
  padding: 15px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
}

.copyright {
  text-align: center;
}

.copyright .copy-link {
  color: #a27dd1;
}

.copyright .copy-link:hover {
  text-decoration: none;
  color: #360058;
}

.container-bg {
  min-height: 100vh;
  background: linear-gradient(45deg, rgba(143, 64, 240, 0.2) 0%, rgba(143, 64, 240, 0.2) 16.667%, rgba(124, 44, 236, 0.2) 16.667%, rgba(124, 44, 236, 0.2) 33.334%, rgba(161, 85, 244, 0.2) 33.334%, rgba(161, 85, 244, 0.2) 50.001%, rgba(198, 125, 252, 0.2) 50.001%, rgba(198, 125, 252, 0.2) 66.668%, rgba(180, 105, 248, 0.2) 66.668%, rgba(180, 105, 248, 0.2) 83.335%, rgba(106, 24, 232, 0.2) 83.335%, rgba(106, 24, 232, 0.2) 100.002%), linear-gradient(22.5deg, rgba(143, 64, 240, 0.2) 0%, rgba(143, 64, 240, 0.2) 16.667%, rgba(124, 44, 236, 0.2) 16.667%, rgba(124, 44, 236, 0.2) 33.334%, rgba(161, 85, 244, 0.2) 33.334%, rgba(161, 85, 244, 0.2) 50.001%, rgba(198, 125, 252, 0.2) 50.001%, rgba(198, 125, 252, 0.2) 66.668%, rgba(180, 105, 248, 0.2) 66.668%, rgba(180, 105, 248, 0.2) 83.335%, rgba(106, 24, 232, 0.2) 83.335%, rgba(106, 24, 232, 0.2) 100.002%), linear-gradient(0deg, rgba(143, 64, 240, 0.2) 0%, rgba(143, 64, 240, 0.2) 16.667%, rgba(124, 44, 236, 0.2) 16.667%, rgba(124, 44, 236, 0.2) 33.334%, rgba(161, 85, 244, 0.2) 33.334%, rgba(161, 85, 244, 0.2) 50.001%, rgba(198, 125, 252, 0.2) 50.001%, rgba(198, 125, 252, 0.2) 66.668%, rgba(180, 105, 248, 0.2) 66.668%, rgba(180, 105, 248, 0.2) 83.335%, rgba(106, 24, 232, 0.2) 83.335%, rgba(106, 24, 232, 0.2) 100.002%), linear-gradient(90deg, #b3b3b3, #606060);
}

.row-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 1.5rem);
}

.row-index .illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-index .illustration img {
  width: 100%;
}

.row-index .card-login {
  margin: 30px;
  background-color: #fefefe;
  -webkit-filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
}

.row-index .card-login .card-body h3 {
  text-align: center;
  margin: 20px 0;
}

.dashboard-alert {
  margin: 0;
  text-align: center;
}

.sidebar {
  background: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
}

.sidebar .brand {
  font-size: 1.8em;
  border-bottom: 1px groove rgba(255, 255, 255, 0.3);
}

.sidebar .profile-photo {
  text-align: center;
  padding: 1em 0;
}

.sidebar .profile-photo img {
  width: 150px;
  height: 150px;
  border: 7px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.sidebar .profile-welcome {
  font-size: 16px;
}

.sidebar .profile-links li {
  list-style: none;
  margin-bottom: 5px;
}

.sidebar .profile-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .profile-links a:hover {
  color: #fff;
}

.sidebar .admin-links-title {
  text-transform: uppercase;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px groove rgba(255, 255, 255, 0.3);
}

.sidebar .admin-links li {
  list-style: none;
  margin-bottom: 5px;
}

.sidebar .admin-links li:first-child {
  margin-top: 10px;
}

.sidebar .admin-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.sidebar .admin-links a:hover {
  color: #fff;
}

.edit-profile {
  margin: 30px;
}

.edit-profile-card {
  background-color: #fefefe;
  -webkit-filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
}

.edit-profile .card-body .edit-profile-photo {
  width: 100%;
  text-align: center;
}

.edit-profile .card-body .edit-profile-photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.2);
}

.row-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row-users .act-users,
.row-users .inact-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-users .act-users .users-add-new-link,
.row-users .act-users .active-user-link,
.row-users .act-users .inactive-user-link,
.row-users .inact-users .users-add-new-link,
.row-users .inact-users .active-user-link,
.row-users .inact-users .inactive-user-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  margin: 20px 5px;
}

.row-users .act-users .card,
.row-users .inact-users .card {
  width: 200px;
  height: 200px;
  background-color: #fefefe;
}

.row-users .act-users .card:hover,
.row-users .inact-users .card:hover {
  background-color: #f1f1f1;
  color: black;
  -webkit-transition: -webkit-filter ease-in 0.2s;
  transition: -webkit-filter ease-in 0.2s;
  transition: filter ease-in 0.2s;
  transition: filter ease-in 0.2s, -webkit-filter ease-in 0.2s;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
}

.row-users .act-users .card.add-new .card-body,
.row-users .inact-users .card.add-new .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-users .act-users .card.add-new .card-body i,
.row-users .inact-users .card.add-new .card-body i {
  font-size: 60px;
}

.row-users .act-users .card.add-new .card-body p,
.row-users .inact-users .card.add-new .card-body p {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
}

.row-users .act-users .card.active-user .card-body,
.row-users .act-users .card.inactive-user .card-body,
.row-users .inact-users .card.active-user .card-body,
.row-users .inact-users .card.inactive-user .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-users .act-users .card.active-user .card-body img,
.row-users .act-users .card.inactive-user .card-body img,
.row-users .inact-users .card.active-user .card-body img,
.row-users .inact-users .card.inactive-user .card-body img {
  width: 90%;
  height: 90%;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.row-users .inact-users .card-body img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.row-users .inact-users .card-body:hover img {
  -webkit-transition: -webkit-filter ease-in-out 0.1s;
  transition: -webkit-filter ease-in-out 0.1s;
  transition: filter ease-in-out 0.1s;
  transition: filter ease-in-out 0.1s, -webkit-filter ease-in-out 0.1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.add-user {
  margin: 30px;
}

.add-user-card {
  background-color: #fefefe;
  -webkit-filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
}

.add-user .card-body .add-user-photo {
  width: 100%;
  text-align: center;
}

.add-user .card-body .add-user-photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.2);
}

.row-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-projects .card {
  width: 200px;
  height: 200px;
  color: rgba(0, 0, 0, 0.6);
}

.row-projects .card:hover {
  background-color: #f1f1f1;
  color: black;
  -webkit-transition: -webkit-filter ease-in 0.2s;
  transition: -webkit-filter ease-in 0.2s;
  transition: filter ease-in 0.2s;
  transition: filter ease-in 0.2s, -webkit-filter ease-in 0.2s;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
}

.row-projects .card.projects-add-new {
  text-decoration: none;
  margin: 20px 5px;
}

.row-projects .card.projects-add-new .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-projects .card.projects-add-new .card-body i {
  font-size: 60px;
}

.row-projects .card.projects-add-new .card-body p {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
}

.row-projects .card.projects {
  text-decoration: none;
  margin: 20px 5px;
  background-color: #fefefe;
}

.row-projects .card.projects .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-projects .card.projects .card-body img {
  width: 80%;
  height: 80%;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.row.tickets {
  margin: 30px 30px 0 30px;
}

.row.tickets .btn-new-ticket {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  padding: 5px 5px;
  font-weight: bold;
}

.row.tickets .btn-new-ticket:hover {
  color: #000;
}

.row.tickets .ticket-actions {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 2px;
}

.row.tickets .ticket-actions .edit-ticket:hover {
  color: black;
}

.row.tickets .ticket-actions .start-ticket:hover {
  color: green;
}

.row.tickets .ticket-actions .close-ticket:hover {
  color: red;
}

.row.tickets .ticket-actions .view-ticket:hover {
  color: #a07eca;
}

.row.tickets .ticket-actions .delete-ticket:hover {
  color: red;
}

.card.card-assigned-users {
  margin-top: 5px;
}

.card.card-assigned-users .card {
  width: 150px;
  height: 150px;
  color: rgba(0, 0, 0, 0.6);
  border: none;
}

.card.card-assigned-users .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card.card-assigned-users .card-body .card.users {
  margin: 0 3px;
  background-color: #fefefe;
}

.card.card-assigned-users .card-body .card.users .card-body {
  position: relative;
}

.card.card-assigned-users .card-body .card.users .card-body a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}

.card.card-assigned-users .card-body .card.users .card-body .overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  z-index: 1;
}

.card.card-assigned-users .card-body .card.users .card-body .overlay i.unassign-user:hover {
  color: red;
}

.card.card-assigned-users .card-body .card.users .card-body .overlay i.assign-user:hover {
  color: green;
}

.card.card-assigned-users .card-body .card.users .card-body img {
  width: 90%;
  height: 90%;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.card.card-assigned-users .card-body .card.users .card-body:hover {
  background-color: #f1f1f1;
  color: black;
  -webkit-transition: -webkit-filter ease-in 0.2s;
  transition: -webkit-filter ease-in 0.2s;
  transition: filter ease-in 0.2s;
  transition: filter ease-in 0.2s, -webkit-filter ease-in 0.2s;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
}

.card.card-assigned-users .card-body .card.users .card-body:hover img {
  opacity: 0.5;
}

.card.card-assigned-users .card-body .card.users .card-body:hover .overlay {
  opacity: 1;
}

.project-details-card {
  margin-top: 5px;
}

.project-details-card form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.project-details-card form .project-logo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.2);
}

.project-details-card form .proj-inputs {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .project-details-card form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.add-project {
  margin: 30px;
}

.add-project-card {
  background-color: #fefefe;
  -webkit-filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
}

.add-project .card-body .add-project-logo {
  width: 100%;
  text-align: center;
}

.add-project .card-body .add-project-logo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=main.css.map */