//Colours
$card-login: #fefefe;
$nav-text-color: rgba(255, 255, 255, 0.7);
$nav-text-color-hover: #fff;
$theme-color-dark: rgb(54, 0, 88);
$theme-color-light: rgb(162, 125, 209);
$sidebar-color: rgba(0, 0, 0, 0.6);
