@import "constants";

// General use
.form-control:focus {
  border-color: rgba(106, 24, 232, 0.2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(153, 0, 180);
}
button {
  margin-bottom: 20px;
  background: linear-gradient(37deg, $theme-color-dark, $theme-color-light);
}

.page-title {
  color: $title-text-color;
  border-bottom: $title-hr;
  padding: 15px;
  font-size: $title-font-size;
  font-weight: 500;
  letter-spacing: 1px;
}

.copyright {
  text-align: center;
  .copy-link {
    color: $theme-color-light;
    &:hover {
      text-decoration: none;
      color: $theme-color-dark;
    }
  }
}
// End General use
.container-bg {
  height: 100vh;
  background: linear-gradient(
      45deg,
      rgba(143, 64, 240, 0.2) 0%,
      rgba(143, 64, 240, 0.2) 16.667%,
      rgba(124, 44, 236, 0.2) 16.667%,
      rgba(124, 44, 236, 0.2) 33.334%,
      rgba(161, 85, 244, 0.2) 33.334%,
      rgba(161, 85, 244, 0.2) 50.001%,
      rgba(198, 125, 252, 0.2) 50.001%,
      rgba(198, 125, 252, 0.2) 66.668%,
      rgba(180, 105, 248, 0.2) 66.668%,
      rgba(180, 105, 248, 0.2) 83.335%,
      rgba(106, 24, 232, 0.2) 83.335%,
      rgba(106, 24, 232, 0.2) 100.002%
    ),
    linear-gradient(
      22.5deg,
      rgba(143, 64, 240, 0.2) 0%,
      rgba(143, 64, 240, 0.2) 16.667%,
      rgba(124, 44, 236, 0.2) 16.667%,
      rgba(124, 44, 236, 0.2) 33.334%,
      rgba(161, 85, 244, 0.2) 33.334%,
      rgba(161, 85, 244, 0.2) 50.001%,
      rgba(198, 125, 252, 0.2) 50.001%,
      rgba(198, 125, 252, 0.2) 66.668%,
      rgba(180, 105, 248, 0.2) 66.668%,
      rgba(180, 105, 248, 0.2) 83.335%,
      rgba(106, 24, 232, 0.2) 83.335%,
      rgba(106, 24, 232, 0.2) 100.002%
    ),
    linear-gradient(
      0deg,
      rgba(143, 64, 240, 0.2) 0%,
      rgba(143, 64, 240, 0.2) 16.667%,
      rgba(124, 44, 236, 0.2) 16.667%,
      rgba(124, 44, 236, 0.2) 33.334%,
      rgba(161, 85, 244, 0.2) 33.334%,
      rgba(161, 85, 244, 0.2) 50.001%,
      rgba(198, 125, 252, 0.2) 50.001%,
      rgba(198, 125, 252, 0.2) 66.668%,
      rgba(180, 105, 248, 0.2) 66.668%,
      rgba(180, 105, 248, 0.2) 83.335%,
      rgba(106, 24, 232, 0.2) 83.335%,
      rgba(106, 24, 232, 0.2) 100.002%
    ),
    linear-gradient(90deg, rgb(179, 179, 179), rgb(96, 96, 96));
  // background-color: #360059;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.96'%3E%3Ccircle fill='%23360059' cx='50' cy='0' r='50'/%3E%3Cg fill='%233b005e' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23400164' cx='50' cy='100' r='50'/%3E%3Cg fill='%23450169' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%234a026e' cx='50' cy='200' r='50'/%3E%3Cg fill='%23500274' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23550279' cx='50' cy='300' r='50'/%3E%3Cg fill='%235b037e' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23600384' cx='50' cy='400' r='50'/%3E%3Cg fill='%23660489' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%236c048e' cx='50' cy='500' r='50'/%3E%3Cg fill='%23720494' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23780499' cx='50' cy='600' r='50'/%3E%3Cg fill='%237e049f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%238404a4' cx='50' cy='700' r='50'/%3E%3Cg fill='%238a04a9' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%239003af' cx='50' cy='800' r='50'/%3E%3Cg fill='%239603b4' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%239d02b9' cx='50' cy='900' r='50'/%3E%3Cg fill='%23a301bf' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23aa00c4' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  // background-attachment: fixed;
  // background-size: contain;
}

.row-index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 1.5rem);
  .illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 50%;
    img {
      width: 100%;
    }
  }
  .card-login {
    // width: 40%;
    margin: 30px;
    background-color: $card-bg-color;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
    .card-body {
      h3 {
        text-align: center;
        margin: 20px 0;
      }
    }
  }
}
// ***** Dashboard.php *****
.container-full-height {
  height: 100%;
}

.dashboard-alert {
  margin: 0;
  text-align: center;
}
.sidebar {
  background: $sidebar-color;
  // height: 100%;
  .brand {
    font-size: 1.8em;
    border-bottom: $menu-hr;
  }
  .profile {
    &-photo {
      text-align: center;
      padding: 1em 0;
      img {
        width: 150px;
        height: 150px;
        border: 7px solid $profile-photo-border-color;
        border-radius: 50%;
      }
    }
    &-welcome {
      font-size: 16px;
    }
    &-links {
      li {
        list-style: none;
        margin-bottom: 5px;
      }
      a {
        text-decoration: none;
        color: $nav-text-color;
        &:hover {
          color: $nav-text-color-hover;
        }
      }
    }
  }
  .admin-links {
    &-title {
      // text-align: center;
      text-transform: uppercase;
      padding-top: 10px;
      color: $nav-text-color;
      border-bottom: $menu-hr;
    }
    li {
      list-style: none;
      margin-bottom: 5px;
      &:first-child {
        margin-top: 10px;
      }
    }
    a {
      text-decoration: none;
      color: $nav-text-color;
      &:hover {
        color: $nav-text-color-hover;
      }
    }
  }
}

// ***** Profile.php *****
.edit-profile {
  margin: 30px;

  &-card {
    background-color: $card-bg-color;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
  }
  .card-body {
    .edit-profile-photo {
      width: 100%;
      text-align: center;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid $profile-photo-border-color;
      }
    }
    // .buttons {
    //   display: flex;
    //   flex-wrap: wrap;
    //   .btn-delete {
    //     width: 100%;
    //   }
    //   .btn-update {
    //     width: 100%;
    //   }
    // }
  }
}

// ***** Users.php *****
.row-users {
  display: flex;
  flex-direction: column;
  .act-users,
  .inact-users {
    display: flex;
    flex-wrap: wrap;
    .users-add-new-link,
    .active-user-link,
    .inactive-user-link {
      text-decoration: none;
      color: $users-card-text-color;
      margin: 20px 5px;
    }
    // .users-add-new-link:hover,
    // .active-user-link:hover,
    // .inactive-user-link:hover {
    // }
    .card {
      width: 200px;
      height: 200px;
      background-color: $card-bg-color;
      &:hover {
        background-color: darken($card-bg-color, 5);
        color: $users-card-text-color-hover;
        transition: filter ease-in 0.2s;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
      }
    }
    .card.add-new {
      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        i {
          font-size: 60px;
        }
        p {
          text-transform: uppercase;
          font-weight: 300;
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
    .card.active-user,
    .card.inactive-user {
      // margin: 0;
      // padding: 0;
      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 90%;
          height: 90%;
          border: 3px solid rgba(0, 0, 0, 0.5);
          border-radius: 50%;
        }
      }
    }
  }
  .inact-users {
    .card-body {
      img {
        filter: grayscale(100%);
      }
      &:hover {
        img {
          transition: filter ease-in-out 0.1s;
          filter: grayscale(0%);
        }
      }
    }
  }
}

// ***** Add-User.php *****
.add-user {
  margin: 30px;

  &-card {
    background-color: $card-bg-color;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
  }
  .card-body {
    .add-user-photo {
      width: 100%;
      text-align: center;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid $profile-photo-border-color;
      }
    }
  }
}

// ***** Projects.php *****
.row-projects {
  display: flex;
  .card {
    width: 200px;
    height: 200px;
    color: $users-card-text-color;
    &:hover {
      background-color: darken($card-bg-color, 5);
      color: $users-card-text-color-hover;
      transition: filter ease-in 0.2s;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
    }
  }
  .card.projects-add-new {
    text-decoration: none;
    margin: 20px 5px;
    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      i {
        font-size: 60px;
      }
      p {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }

  .card.projects {
    text-decoration: none;
    margin: 20px 5px;
    background-color: $card-bg-color;
    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 80%;
        height: 80%;
        border: 3px solid rgba(0, 0, 0, 0.5);
        border-radius: 50%;
      }
    }
  }
}
// *****

// ***** Project.php *****
.row.tickets {
  margin: 30px 30px 0 30px;
  .btn-new-ticket {
    text-decoration: none;
    color: $users-card-text-color;
    padding: 5px 5px;
    font-weight: bold;
    &:hover {
      color: #000;
    }
  }
  .ticket-actions {
    text-decoration: none;
    color: $users-card-text-color;
    margin: 0 5px;
    .view-ticket:hover {
      color: blue;
    }
    .delete-ticket:hover {
      color: red;
    }
  }
}
.card.card-assigned-users {
  margin-top: 5px;
  .card {
    width: 150px;
    height: 150px;
    color: $users-card-text-color;
    border: none;
  }
  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .card.users {
      margin: 0 3px;
      background-color: $card-bg-color;
      .card-body {
        position: relative;
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          color: $users-card-text-color-hover;
          text-decoration: none;
        }
        .overlay {
          position: absolute;
          top: 10px;
          right: 10px;
          opacity: 0;
          z-index: 1;
          i.unassign-user:hover {
            color: red;
          }
          i.assign-user:hover {
            color: green;
          }
        }
        img {
          width: 90%;
          height: 90%;
          border: 3px solid rgba(0, 0, 0, 0.5);
          border-radius: 50%;
        }
        &:hover {
          background-color: darken($card-bg-color, 5);
          color: $users-card-text-color-hover;
          transition: filter ease-in 0.2s;
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6));
          img {
            opacity: 0.5;
          }
          .overlay {
            opacity: 1;
          }
        }
      }
    }
  }
}
.project-details-card {
  margin-top: 5px;
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

    .project-logo {
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid $profile-photo-border-color;
      }
    }
    .proj-inputs {
      width: 100%;
    }
  }
  @media only screen and (max-width: 800px) {
    form {
      grid-template-columns: 1fr;
    }
  }
}

// ***** Add-Project.php *****
.add-project {
  margin: 30px;

  &-card {
    background-color: $card-bg-color;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.6));
  }
  .card-body {
    .add-project-logo {
      width: 100%;
      text-align: center;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid $profile-photo-border-color;
      }
    }
  }
}
